// Molecules
//
// Styleguide 2

// List
//
// .list--dark - dark skin
//
// Markup:
// <ul class="list {{modifier_class}}">
//     <li class="list__title">Title</li>
//     <li class="list__item">
//         <a href="#">Item</a>
//     </li>
//     <li class="list__item">
//         <a href="#">Item</a>
//     </li>
// </ul>
//
// Styleguide: 2.1.1
.list {
  list-style: none;
  margin: 0;
  padding: 5px;

  &__title,
  &__item {
    font-size: 1em;
    padding: 5px 0;
    text-transform: uppercase;
  }

  &__title {
    color: $silver-chalice;
    padding-top: 0;
    a {
      color: inherit;
    }
  }

  &__item {
    margin-bottom: 5px;
    color: $alto;
    &:last-of-type {
      margin-bottom: 0;
    }

    a {
      color: inherit;
    }
  }
}

.list {
  &--dark {
    background: {
      color: $ebony-clay;
      repeat: no-repeat;
    }
  }
}
