%tile {
  padding: 10px;
}

%btn {
  background-color: $white;
  border: none;
  color: $silver-chalice;
  display: inline-block;
  font-size: 17px;
  letter-spacing: 1px;
  outline: none;
  padding: 5px 10px;
  text-transform: uppercase;

  &:visited {
    color: $silver-chalice;
  }
}

// COSMETICS
%base-action-profile {
  color: $silver-chalice;
  background: {
    color: $white;
    repeat: no-repeat;
  }
}

// PRIMARY ACTION: COMPLETE PROFILE
%primary-action-profile,
.primary-action {
  color: $mine-shaft;
  background: {
    color: $my-sin;
    repeat: no-repeat;
  }

  &:hover {
    background: lighten($my-sin, 5%);
  }
}

%secondary-action-profile,
.secondary-action {
  border: 2px solid $silver-chalice;
  border-radius: 2px;
  padding: 3px 20px;
}


// SPACING
%tile-s {
  padding: 10px;
}

%tile-m {
  padding: 15px 10px;
}


// Clearings

.clearfix,
%clearfix {
  &::after {
    display: table;
    clear: both;
    content: "";
  }
}
