// Label
//
// Styleguide 3

// Labels
//
// Basic styling. Base class is `.sr-label`
//
// .sr-label--disabled - Indicate with the label that the input field that it is label FOR is disabled
//
// Markup:
// <label class="sr-label {{modifier_class}}">Label</label>
//
// Styleguide 3.1
.sr-label {
  text-transform: uppercase;
  font-weight: bold;
  color: $mine-shaft;

  &--disabled {
    color: $alto;
  }
}

