// Tile
//
// .tile--dark - Dark skin
//
// Markup:
// <div class="tile {{modifier_class}}">
//     <div class="tile__title">Title</div>
//     <div class="tile__details">
//         <p class="tile__item">Bruce Wayne</p>
//         <p class="tile__item">VISA</p>
//         <p class="tile__item">**** **** **** **99</p>
//         <p class="tile__item">09.18</p>
//     </div>
// </div>
//
// Styleguide 2.2.1
.tile {
  border: 1px solid $alto;
  @extend %tile-m;

  &__title {
    color: $mine-shaft;
    text-transform: uppercase;
    margin-bottom: 7px;
  }

  &__item {
    color: $silver-chalice;
    margin: {
      top: 3px;
      bottom: 3px;
    }

    &:first-of-type {
      margin-top: 0;
    }
  }
}

.tile {
  &--dark {
    background: {
      color: $wild-sand;
      repeat: no-repeat;
    }

    border: 1px solid $wild-sand;
  }
}

// Tile item: Grouped details
//
// Markup:
// <div class="tile__details">
//   <div class="tile__item tile__item--group">
//     <div class="item__label">Order number:</div>
//     <div class="item__value">1100334893</div>
//   </div>
// </div>
//
// Styleguide 2.2.2
.tile {
  &__item {
    &--group {
      @extend %clearfix;
      
      .item {
        &__label,
        &__value {
          display: inline-block;
          float: left;
        }

        &__label {
          color: $mine-shaft;
          font-weight: bold;
        }

        &__value {
          @extend %clearfix;
          padding-left: 13px;
        }
      }
    }
  }
}
