// Atoms
//
// Styleguide 1

// Button: base
//
// .sr-btn--disabled  - Disabled button. If you use `<button>` element, that is acceptable to add `disabled` attribute instead.
//
// Markup:
// <button type="submit" class="sr-btn {{modifier_class}}">Button</button>
// <a href="#" class="sr-btn {{modifier_class}}">Button</a>
//
// Styleguide 1.1.1
.sr-btn {
  outline: none;
  border: none;
  padding: 5px 10px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: $silver-chalice;
  background-color: $white;
  display: inline-block;
}

.sr-btn {
  &:hover {
    text-decoration: underline;
    cursor: pointer;
  }

  &[disabled],
  &--disabled {
    color: $white;
    background-color: $silver-chalice;
    cursor: not-allowed !important;
    text-decoration: none !important;
    :hover {
      text-decoration: none !important;
      cursor: not-allowed !important;
    }
  }
}

// Button: skin
//
// .sr-btn--primary   - Primary button
// .sr-btn--secondary - Secondary button
//
// Markup:
// <button class="sr-btn {{modifier_class}}">Button</button>
// <a href="#" class="sr-btn {{modifier_class}}">Button</a>
//
// Styleguide 1.1.2
.sr-btn {
  &.sr-btn--primary {
    @extend %primary-action-profile;
  }

  &.sr-btn--secondary {
    @extend %secondary-action-profile;
  }
}

// Button: sizing
//
// Fancy larger or smaller buttons?
// Add the following modifier class demonstrated below
//
// .sr-btn--large  - Large button.
// .sr-btn--small  - Small button.
// .sr-btn--mini   - Mini button.
// .sr-btn--block  - Block level button.
//
// Markup:
// <button class="sr-btn {{modifier_class}}">Button</button>
// <button class="sr-btn sr-btn--primary {{modifier_class}}">Button</button>
// <button class="sr-btn sr-btn--secondary {{modifier_class}}">Button</button>
//
// Styleguide 1.1.3
.sr-btn {
  // Large
  &--large {
    font-size: 15px;
  }

  // Small
  &--small {
    font-size: 11px;
  }

  // Mini
  &--mini {
    font-size: 10px;
    padding: 3px 6px;
    border: 1px solid $silver-chalice;
  }

  // Block
  &--block {
    display: block;
    clear: both;
    width: 100%;
    font-weight: bold;
    margin-bottom: 6px;
    padding: 6px 10px;
  }
}
