// Label: base
//
// .sr-label--disabled - Disabled label to belonging disabled field.
//
// Markup:
// <label for="example-input" class="sr-label {{modifier_class}}">Field label</label>
//
// Styleguide 1.2.1
.sr-label {
  text-transform: uppercase;
  font {
    weight: bold;
    size: 14px;
  }

  &--disabled {
    color: $gray;
  }

  &[for] {
    cursor: pointer;
  }
}
